@model PhongKhamOnline.Models.BacSi

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Bạn có chắc chắn muốn xóa bác sĩ @Html.DisplayFor(model => model.Ten) không?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ten)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ten)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChuyenMonBacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChuyenMonBacSi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiPhongKham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiPhongKham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiaChiThuongTru)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiaChiThuongTru)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoDienThoaiPhongKham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoDienThoaiPhongKham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MoTa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoHenToiDaTrongNgay)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoHenToiDaTrongNgay)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AnhDaiDien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AnhDaiDien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoTaiKhoan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoTaiKhoan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KhungGioBacSi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KhungGioBacSi.GioLamViec)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
